.container{
    background-color:lightgrey;
}
header{
    background-color: white;
}
img{
    width: 100px;
    vertical-align: middle;
}
#titolo{
    width: 1000px;
    display: inline-block;
}
main{
    margin:60px 120px ;
    background-color: white;
    border-radius: 5px;
    height: 80%;
    margin-bottom:2px ;
}

nav{
    padding:10px 50px;
    border-bottom: 1px solid black;
    border-radius: 5px;
}
.Add{
   
    display: inline-block;
    width: 120px;
    height: 40px;
    border:1px solid black;
    border-radius: 5%;
    text-align: center; 
    vertical-align: middle;
}


#task{
    color: white;
    background-color: blue;

}
#sect{
    color: gray;
    background-color: white;

}
section{
    margin-left: 50px;
}
p{  
    font-size: larger;
}
.bottone{
    font-size:30px ;
    color: white;
    border-radius: 15px;
    padding:5px ;
}
#bottone_1{
    background-color:rgb(29, 178, 227);
}

#bottone_2{
    background-color: purple;
}
#bottone_3{
    background-color: blue;
}
#bottone_4{
    background-color: green;
}
#bottone_5{
    background-color: orange;
}
#bottone_6{
    background-color: palevioletred;
}

